<!-- zadanie1.launch -->
<launch>

  <!-- Node 1: zadanie1_node -->
  <node name="zadanie1_node" pkg="zadanie1" type="zadanie1_node" output="screen"/>

  <!-- Node 2: zadanie1_input -->
<!--   <node name="zadanie1_input" pkg="zadanie1" type="zadanie1_input" output="screen"/> -->

  <!-- Node 3: zadanie1_subscriber -->
  <node name="zadanie1_subscriber" pkg="zadanie1" type="zadanie1_subscriber" output="screen"/>


<rosparam command="load" file="$(find zadanie1)/parameters.yaml" />
<include file="$(find rrm_simple_robot_model)/launch/robot_state_publisher.launch" />
</launch>
